.container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
    align-items: center;
}

table td{
    border: 1px solid red;
    width: 100px;
    height: 100px;
}